<div class="bg-grey">
	<div class="container">

		<div class="row my-skillset">
			<div class="col-md-4 col-md-offset-4">
				<h2 class="title">My skillset</h2>
				<hr>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" src="images/tech/node.jpg">

					</div>
					<div class="col-md-8">
						<h4>NodeJS</h4>
						<h6>Also experience with: Express, NPM</h6>
						<p>
							Efficiently disseminate effective core competencies after inexpensive expertise. Uniquely
							conceptualize turnkey users for leveraged.
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" src="images/tech/scss.jpg">

					</div>
					<div class="col-md-8">
						<h4>SCSS</h4>
						<h6>Also experience with: CSS3, SASS</h6>
						<p>
							Professionally harness enabled resources rather than sustainable imperatives.
							Collaboratively implement front-end partnerships after equity invested results.
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" src="images/tech/sc.jpg">

					</div>
					<div class="col-md-8">
						<h4>SocketCluster</h4>
						<h6>Also experience with: REST, JSON, XML</h6>
						<p>
							Proactively pontificate mission-critical action items before pandemic ROI. Assertively
							expedite out-of-the-box experiences for
						</p>
					</div>
				</div>

			</div>

			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" src="images/tech/php.jpg">

					</div>
					<div class="col-md-8">
						<h4>PHP</h4>
						<h6>Also experience with: Wordpress, PDO</h6>
						<p>
							Interactively matrix backward-compatible solutions without strategic solutions.
							Professionally maximize covalent niche markets through innovative.
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" src="images/tech/mysql.jpg">

					</div>
					<div class="col-md-8">
						<h4>MySQL</h4>
						<h6>Also experience with: Firebase, MongoDB</h6>
						<p>
							Interactively brand cutting-edge outsourcing before client-centric mindshare. Efficiently
							expedite customer directed human capital with empowered.
						</p>
					</div>
				</div>


				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" src="images/tech/js.jpg">

					</div>
					<div class="col-md-8">
						<h4>JavaScript</h4>
						<h6>Also experience with: ES6, jQuery, Angular4</h6>
						<p>
							Efficiently disseminate effective core competencies after inexpensive expertise. Uniquely
							conceptualize turnkey users for leveraged.
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
