<div class="bg-white">
	<div class="container">
		<div class="row how-i-got-here">
			<div class="col-md-4 col-md-offset-4">
				<h2 class="title">My History</h2>
				<hr>
			</div>
		</div>
		<div class="row how-i-got-here">
			<div class="col-md-2">
				<img class="img-responsive" src="images/history/setl.jpg">
				<h4>SETL</h4>
				<h6>June 2017 - Present</h6>
				<p>
					Joined to work with ground breaking tech, making the front end dashboards that hook into <a
						href="http://uk.reuters.com/article/us-banking-blockchain-payment-idUKKBN13A00T"
						target="_blank">blockchain</a>,
					such as <a href="https://www.setl.io/opencsd/" target="_blank">OpenCSD</a>. For companies like <a
						href="https://uk.linkedin.com/company/ofi-asset-management" target="_blank">Ofi</a>
					and <a href="http://uk.reuters.com/article/us-securities-blockchain-computershare-idUKKCN0XP1NL"
					       target="_blank">Computshare</a>, and the company intranet web system.
				</p>
			</div>
			<div class="col-md-2">
				<img class="img-responsive" src="images/history/element-softworks.jpg">
				<h4>Element Softworks</h4>
				<h6>March 2015 - Present</h6>
				<p>
					Setup and run to offer a professional and all in one solution for small-medium businesses looking to
					improve their online presence. I manage a team of developers and designers.
				</p>
			</div>
			<div class="col-md-2">
				<img class="img-responsive" src="images/history/hbm.jpg">
				<h4>Hot Brass Media</h4>
				<h6>Feb 2015 - Present</h6>
				<p>
					Created with my American business partner to offer websites and online systems to
					firearms and social media businesses in the states.
					Clients such as <a target="_blank"
					                   href="https://www.instagram.com/gunsdaily">GunsDaily</a> and <a target="_blank"
					                                                                                   href="https://www.instagram.com/blackwolf_inc">Blackwolf
					Inc</a>.
				</p>
			</div>
			<div class="col-md-2">
				<img class="img-responsive" src="images/history/playtech.jpg">
				<h4>Playtech PLC</h4>
				<h6>Sept 2015 - June 2017</h6>
				<p>
					With my two years at the <a href="https://en.wikipedia.org/wiki/Playtech" target="_blank">FTSE
					250</a> company, I produced a number of virtual sports system for clients such as
					<a href="https://en.wikipedia.org/wiki/Paddy_Power" target="_blank">PaddyPower</a>,
					<a href="https://en.wikipedia.org/wiki/BetFair" target="_blank">BetFair</a>,
					<a href="https://en.wikipedia.org/wiki/Ladbrokes" target="_blank">Ladbrokes</a>,
					and most notably
					<a target="_blank"
					   href="https://www.playtech.com/news/latest_news_and_prs/playtech_sports_launches_first_virtual_retail_product_with_coral">v1</a>/v2,
					country wide retail solution for <a href="https://en.wikipedia.org/wiki/Gala_Coral_Group"
					                                    target="_blank">Coral</a>.
				</p>
			</div>
			<div class="col-md-2">
				<img class="img-responsive" src="images/history/luke.jpg">
				<h4>Freelance</h4>
				<h6>April 2012 - March 2015</h6>
				<p>
					After several years of growing my hosting company, and eventually
					<a href="https://twitter.com/GS_Hosting/status/579050871654342656" target="_blank">selling the 500+
						strong client base</a>,
					gave me time to become a self taught web dev and I worked for many of my previous clients.
				</p>
			</div>
		</div>
	</div>
</div>