<div class="bg-grey">
	<div class="container">

		<div class="row my-skillset">
			<div class="col-md-4 col-md-offset-4">
				<h2 class="title">My skillset</h2>
				<hr>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" src="images/tech/node.jpg">

					</div>
					<div class="col-md-8">
						<h4>NodeJS</h4>
						<h6>Also experience with: Express, NPM</h6>
						<p>
							My current go to server side programming language. It's an extremely flexible and scalable
							language, and also how I power most of my websites that I make since 2016.
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" src="images/tech/scss.jpg">

					</div>
					<div class="col-md-8">
						<h4>SCSS</h4>
						<h6>Also experience with: CSS3, SASS</h6>
						<p>
							After taking in designs, I would use HTML/SCSS to make a responsive and light-weight styling
							structure. I build all of my design off of the Bootstrap 3 grid system.
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" src="images/tech/sc.jpg">

					</div>
					<div class="col-md-8">
						<h4>SocketCluster</h4>
						<h6>Also experience with: REST, JSON, XML</h6>
						<p>
							Transferring and interacting data from APIs is important. Recently I have enjoy using
							SocketCluster with Node, but never forgetting standard web APIs.
						</p>
					</div>
				</div>

			</div>

			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" src="images/tech/php.jpg">

					</div>
					<div class="col-md-8">
						<h4>PHP</h4>
						<h6>Also experience with: Wordpress, PDO</h6>
						<p>
							From 2012 until 2017, PHP was the backbone of 95% my projects using the LAMP stack. For all
							the stick PHP gets, it's has always been a reliable server side language for me.
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" src="images/tech/mysql.jpg">

					</div>
					<div class="col-md-8">
						<h4>MySQL</h4>
						<h6>Also experience with: Firebase, MongoDB</h6>
						<p>
							Databases are key in most websites, and my standard approach is MySQL,
							especially in the LAMP stack. More recently I've gone with NoSQL DBs like Firebase.
						</p>
					</div>
				</div>


				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" src="images/tech/js.jpg">

					</div>
					<div class="col-md-8">
						<h4>JavaScript</h4>
						<h6>Also experience with: ES6, jQuery, Angular4</h6>
						<p>
							JS is what powers the front end magic on websites, I usually work with jQuery or if
							required... plain JavaScript. I also have experience with Google's Angular 2(4).
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
