<div class="bg-code">
	<div class="container">
		<div class="row how-i-got-here">
			<div class="col-md-4 col-md-offset-4">
				<h2 class="title">My Dev Style</h2>
				<hr>
			</div>
		</div>
		<div class="row my-style">

			<div class="col-md-2">
				<div class="tile">
					<img class="img-responsive" src="images/style/photoshop.jpg">
					<h4>Design</h4>
					<h6>Stage 1</h6>
					<p>
						I sit down with you and we work out your current situation and what you're looking for. I then
						go away and return with a set of your project requirements. Once agreed, I
						will begin designing your website.
					</p>
				</div>
			</div>

			<div class="col-md-2">
				<div class="tile">
					<img class="img-responsive" src="images/style/phpstorm.jpg">
					<h4>Develop</h4>
					<h6>Stage 2</h6>
					<p>
						After showing you the design prototypes and with a few iterations, once you're happy and sign
						off - I will begin coding your website in the appropriate languages chosen for your project.
					</p>
				</div>
			</div>

			<div class="col-md-2">
				<div class="tile">
					<img class="img-responsive" src="images/style/github.jpg">
					<h4>Debug</h4>
					<h6>Stage 3</h6>
					<p>
						At each code milestone I upload my code to a private GitHub repo, where you can review if
						needed. You'll also get a dev link to play with and feedback to me your thoughts.
					</p>
				</div>
			</div>

			<div class="col-md-2">
				<div class="tile">
					<img class="img-responsive" src="images/style/digitalocean.jpg">
					<h4>Deploy</h4>
					<h6>Stage 4</h6>
					<p>
						Once the project is a complete and in a feature full state. It will then be deployed onto a
						server of
						your choice, or if no preference, my favourite a CentOS Digital Ocean droplet VPS.
					</p>
				</div>
			</div>

			<div class="col-md-2">
				<div class="tile">
					<img class="img-responsive" src="images/style/cloudflare.jpg">
					<h4>Distribute</h4>
					<h6>Stage 5</h6>
					<p>
						At this point, I will usually control your DNS, and your domain will now be hooked up to the live
						site. Firewalls, DDoS protection and HTTPS is deployed as well through the CloudFlare network.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>