<div class="bg-white">
	<div class="container">
		<div class="row">
			<div class="col-md-1 col-md-offset-11">
				<img class="img-responsive" src="images/logo.png">
			</div>
		</div>
	</div>
</div>

</body>

<script src="js/type.js"></script>
<script src="js/frontend.js"></script>
</html>

