<div class="bg-white footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0 col-md-1 col-md-offset-11">
				<a href="/">
					<img class="img-responsive" src="images/logo.png">
				</a>
			</div>
		</div>
	</div>
</div>

</body>

<script src="js/type.js"></script>
<script src="js/frontend.js"></script>
</html>

