<div class="bg-code">
	<div class="container">
		<div class="row costs">
			<div class="col-md-4 col-md-offset-4">
				<h2 class="title">Standard Packages</h2>
				<hr>
			</div>
		</div>
		<div class="row costs">

			<div class="col-md-4">
				<div class="tile">
					<div class="stars stars-bronze">
						<i class="fa fa-2x fa-star"></i>
					</div>
					<h4>Small First Website</h4>
					<h6>£200-£500</h6>
					<ul>
						<li>Between 1-10 pages</li>
						<li>Detailed analytics and SEO</li>
						<li>Great for start-ups or individuals</li>
						<li>Responsive, mobile first design</li>
						<li>Completely custom high resolution site</li>
						<li>Usually includes a contact page</li>
					</ul>
				</div>
			</div>

			<div class="col-md-4">
				<div class="tile">
					<div class="stars stars-silver">
						<i class="fa fa-2x fa-star"></i>
						<i class="fa fa-2x fa-star"></i>
					</div>
					<h4>Small Business Website</h4>
					<h6>£400-£1,500</h6>
					<ul>
						<li>Between 10-20 pages</li>
						<li>Best for around 1-100 users</li>
						<li>Great for small businesses</li>
						<li>Includes a login and admin system</li>
						<li>Can includes a eCommerce system</li>
					</ul>
				</div>
			</div>

			<div class="col-md-4">
				<div class="tile">
					<div class="stars stars-gold">
						<i class="fa fa-2x fa-star"></i>
						<i class="fa fa-2x fa-star"></i>
						<i class="fa fa-2x fa-star"></i>
					</div>
					<h4>Medium Business Website</h4>
					<h6>£1,200-£3,800</h6>
					<ul>
						<li>For heavy traffic site</li>
						<li>For businesses with 100+ users</li>
						<li>Great for existing successful businesses</li>
						<li>Best for eCommerce/dashboard systems</li>
						<li>DDoS protection as standard</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>