<div class="bg-grey">
	<div class="container">
		<div class="row page-intro">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="title">About</h1>
				<div class="sub-title">
					<p>My style, skillset and history</p>
				</div>
				<p class="big">
					Being a full stack developer means I develop and design all aspects of your website. I have a keen
					eye for design and a creative approach to development - which gives me an edge over other developers
					who may be limited to purely frontend or backend coders. I enjoy learning new web-related technology
					and with all my years of experience, I know exactly how to make a website that is mobile-responsive,
					fast and pops.
				</p>
			</div>
		</div>
	</div>
</div>
{{> aboutHistory}}
{{> aboutTech}}
{{> aboutStyle}}


