<div class="bg-grey">
	<div class="container">
		<div class="tile row how-i-got-here">
			<div class="col-md-12">
				<h2>How I got here</h2>
			</div>
			<div class="col-md-2">
				<img class="img-responsive" src="images/playtech.jpg">
				<h2>Playtech</h2>
				<p>
					Rapidiously restore team driven internal or "organic" sources without seamless systems.
					Continually expedite tactical metrics without front-end relationships. Dynamically fashion.
				</p>
			</div>
			<div class="col-md-2">
				<img class="img-responsive" src="images/element-softworks.jpg">
				<h2>Element Softworks</h2>
				<p>
					Rapidiously restore team driven internal or "organic" sources without seamless systems.
					Continually expedite tactical metrics without front-end relationships. Dynamically fashion.
				</p>
			</div>
			<div class="col-md-2">
				<img class="img-responsive" src="images/logo.png">
				<h2>Play</h2>
				<p>
					Rapidiously restore team driven internal or "organic" sources without seamless systems.
					Continually expedite tactical metrics without front-end relationships. Dynamically fashion.
				</p>
			</div>
			<div class="col-md-2">
				<img class="img-responsive" src="images/logo.png">
				<h2>Play</h2>
				<p>
					Rapidiously restore team driven internal or "organic" sources without seamless systems.
					Continually expedite tactical metrics without front-end relationships. Dynamically fashion.
				</p>
			</div>
			<div class="col-md-2">
				<img class="img-responsive" src="images/logo.png">
				<h2>Play</h2>
				<p>
					Rapidiously restore team driven internal or "organic" sources without seamless systems.
					Continually expedite tactical metrics without front-end relationships. Dynamically fashion.
				</p>
			</div>
		</div>
	</div>
</div>