<div class="bg-grey">
	<div class="container">
		<h2 class="title">Sorry, you've found an error! Please let me know via <a
				href="https://twitter.com/LukeNXF" target="_blank">Twitter</a>.
		</h2>
		<hr>
		<h5>{{error.status}}</h5>
		<h4>{{message}}</h4>
		<pre>{{error.stack}}</pre>
	</div>
</div>