{{> header}}

<div class="bg-jumbotron">
	<div class="container">
		<div class="header row">
			<div class="col-xs-6 col-xs-offset-3">
				<h1>Luke Brown Development</h1>
				<div class="header-small">
					<p>Freelance and Contract Full Stack Web Developer</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-type what_i_am">
	<div class="container">
		<section class="cd-intro">
			<h1 class="cd-headline letters type">
				<span>I'm looking forward to working with you to</span>
				<span class="cd-words-wrapper waiting">
					<b class="is-visible">develop innovative applications</b>
					<b>create responsive websites</b>
					<b>boost your online presence</b>
					<b>build full feature dashboards</b>
					<b>reskin your existing websites</b>
				</span>.
			</h1>
		</section>
	</div>
</div>


<div class="bg-grey">
	<div class="container">
		<div class="rows">
			<div class="col-md-4">
				<div class="tile tile-intro">
					<img class="img-responsive" src="images/logo.png">
					<h2>What I do</h2>
					<p>
						I build mobile first, responsive websites and dashboards that are modern by handling all aspects
						of development so that you can focus on what matters most to you - your business.
					</p>
					<a href="about" class="btn btn-luke">Learn about me</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tile tile-intro">
					<img class="img-responsive" src="images/logo.png">
					<h2>In safe hands</h2>
					<p>
						With over half of decade of experience on my own across over 100 projects and another 30 years
						combined with my team, no project is too big. Click below to discuss your next great idea.
					</p>
					<a href="about" class="btn btn-luke">See my process</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tile tile-intro">
					<img class="img-responsive" src="images/logo.png">
					<h2>The end results</h2>
					<p>
						All my client leave with professional and reliable websites that really do help make their
						business stand out. Don't just take my word for it, check out my previous work below.
					</p>
					<a href="portfolio" class="btn btn-luke">View my work</a>
				</div>
			</div>
		</div>
	</div>
</div>

{{> footer }}