{{> header}}

<div class="bg-jumbotron">
	<div class="container">
		<div class="header row">
			<div class="col-xs-6 col-xs-offset-3">
				<h1>Luke Brown Development</h1>
				<div class="header-small">
					<p>Freelance and Contract Full Stack Web Developer</p>
				</div>
			</div>
		</div>
		<p>This is some text.</p>
	</div>
</div>
<div class="bg-type what_i_am">
	<div class="container">
		<section class="cd-intro">
			<h1 class="cd-headline letters type">
				<span>I'm am looking forward to working with you to</span>
				<span class="cd-words-wrapper waiting">
					<b class="is-visible">develop innovative applications</b>
					<b>create responsive websites</b>
					<b>boost your online presence</b>
					<b>build full feature dashboards</b>
					<b>reskin your existing websites</b>
				</span>.
			</h1>
		</section>
	</div>
</div>


<div class="bg-grey">
	<div class="container">
		<div class="rows">
			<div class="col-md-4">
				<div class="tile tile-intro">
					<img class="img-responsive" src="images/logo.png">
					<h2>What I do</h2>
					<p>
						Rapidiously restore team driven internal or "organic" sources without seamless systems.
						Continually expedite tactical metrics without front-end relationships. Dynamically fashion.
					</p>
					<a href="hi" class="btn btn-luke">Learn about me</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tile tile-intro">
					<img class="img-responsive" src="images/logo.png">
					<h2>How I do it</h2>
					<p>
						Authoritatively harness emerging applications and interdependent paradigms. Interactively
						promote customized convergence through competitive portals.
					</p>
					<a href="hi" class="btn btn-luke">See my process</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tile tile-intro">
					<img class="img-responsive" src="images/logo.png">
					<h2>The end results</h2>
					<p>
						Professionally monetize superior ideas whereas state of the art e-tailers. Globally extend
						customer directed methodologies with sustainable customer service. Globally unleash.
					</p>
					<a href="hi" class="btn btn-luke">View my work</a>
				</div>
			</div>
		</div>
	</div>
</div>

{{> footer }}