{{> header}}

<div class="bg-jumbotron">
	<div class="container">
		<div class="header row">
			<div class="col-xs-6 col-xs-offset-3">
				<h1>Luke Brown Development</h1>
				<div class="header-small">
					<p>Freelance and Contract Full Stack Web Developer</p>
				</div>
			</div>
		</div>
		<p>This is some text.</p>
	</div>
</div>
<div class="bg-type what_i_am"></div>


{{{body}}}

{{> footer }}