{{> header}}

<div class="bg-jumbotron">
	<div class="container">
		<div class="header header-thin row">
			<div class="col-xs-6 col-xs-offset-3">
				<h1>Luke Brown Development</h1>
			</div>
		</div>
	</div>
</div>
<div class="bg-type what_i_am"></div>


{{{body}}}

{{> footer }}