<div class="bg-grey">
	<div class="row page-intro">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="title">Pricing</h1>
			<div class="sub-title">
				<p>My rates, timescales and expectations</p>
			</div>
			<p class="big">
				Because I know how frustrating and off-putting it can be not to see a simple price or delivery date
				without enquiring. So I try my best to list my rates and timescales as accurately as possible. But as
				with every service (as opposed to a product), it's never easy just to set a fixed price. If you've got a
				project that you think I might be right for me then get in touch with me and I'll be happy to give you a
				quote.
			</p>
		</div>
		<div class="col-md-2 col-md-offset-4">
			<h1 class="title">£30</h1>
			<div class="sub-title">
				<p>Hourly Rate</p>
			</div>
		</div>

		<div class="col-md-2">
			<h1 class="title">£200</h1>
			<div class="sub-title">
				<p>Day Rate</p>
			</div>
		</div>
	</div>
</div>
{{> pricingCosts}}

