body {
	background: #e7e7e7;
	font-family: 'Lato', sans-serif;
}

h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	text-align: center;
}

a {
	color: tan;
	@extend .animate;

	&:hover {
		color: #d29600;
		text-decoration: none;
	}
}

.navbar {
	background-color: white;
	margin-bottom: 0;

	.navbar-nav {
		li {
			a {

				padding: 30px 30px;
				font-weight: bold;
				text-transform: uppercase;
				color: #222;
				@extend .animate;

				&:hover {
					color: tan;
				}
			}

			&.active {
				a, a:focus, a:hover {
					background-color: transparent;
					color: #d29600;
				}
			}
		}
	}

	.navbar-brand {
		height: 80px;
		padding: 7.5px;
		img {
			max-height: 60px;
		}
	}
}

.bg-jumbotron {
	background: url(../images/bg.jpg) center center;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 20px;
}

.bg-type {
	background: white;
	min-height: 10px;
	@extend .shadow;
}

.bg-grey {
	padding: 40px 0;
}

.bg-white {
	padding: 40px 0;
	background: white;
}

.bg-code {
	padding: 40px 0;
	background: url('../images/code-bg.jpg');
	background-size: cover;

}

.header {
	text-align: center;
	h1 {
		border-radius: 2px;
		border: 5px solid white;
		font-size: 30px;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		padding: 30px 4px;
		word-wrap: normal;
		margin: auto auto;
		text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
		@extend .shadow;
	}

	.header-small {
		background-color: white;
		margin: 10px auto 30px;
		@extend .shadow;

		p {
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 4px;
			font-size: 11.5px;
			padding: 6px 10px 6px 22px;
			@extend .background-text;
		}
	}

	&.header-thin {
		h1 {
			font-size: 27px;
			padding: 20px 4px;
			margin: -15px auto 15px;
		}
	}
}

.tile {
	background: white;
	@extend .shadow;
	padding: 30px 20px;

	.btl {
		text-align: center;
		display: block;
		color: #666;
	}

	&.tile-intro {
		img {
			max-height: 100px;
			margin: auto auto;
		}
		h2 {
			text-transform: uppercase;
			font-weight: bold;
			text-align: center;
			color: #777;
		}
		p {
			text-align: center;
			font-size: 17px;
			font-weight: 300;
		}
	}
}

.animate {
	-webkit-transition: all 0.3s !important;
	-moz-transition: all 0.3s !important;
	-ms-transition: all 0.3s !important;
	-o-transition: all 0.3s !important;
	transition: all 0.3s !important;
}

.shadow {
	-webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
}

.background-text {
	background: -webkit-linear-gradient(left, tan, #beb1a6);
	background: -o-linear-gradient(right, tan, #beb1a6);
	background: -moz-linear-gradient(right, tan, #beb1a6);
	background: linear-gradient(left, tan, #beb1a6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn-luke {

	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 11.5px;
	background: -webkit-linear-gradient(left, tan, #beb1a6);
	background: -o-linear-gradient(right, tan, #beb1a6);
	background: -moz-linear-gradient(right, tan, #beb1a6);
	background: linear-gradient(left, tan, #beb1a6);
	padding: 6px 36px;
	margin: auto;
	text-align: center;
	color: white;
	display: table;

	&:hover {
		margin: 0 auto;
		width: 194px;
		/* height: 35px; */
		color: tan;
		border-left: 3px solid tan;
		border-left: 3px solid tan;
		border-right: 3px solid #beb1a6;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background-position: 0 0, 0 100%;
		background-repeat: no-repeat;
		-webkit-background-size: 100% 20px;
		-moz-background-size: 100% 20px;
		background-size: 100% 3px;
		background-image: -webkit-linear-gradient(left, tan 0%, #beb1a6 100%), -webkit-linear-gradient(left, tan 0%, #beb1a6 100%);
		background-image: -moz-linear-gradient(left, tan 0%, #beb1a6 100%), -moz-linear-gradient(left, tan 0%, #beb1a6 100%);
		background-image: -o-linear-gradient(left, tan 0%, #beb1a6 100%), -o-linear-gradient(left, tan 0%, #beb1a6 100%);
		background-image: linear-gradient(to right, tan 0%, #beb1a6 100%), linear-gradient(to right, tan 0%, #beb1a6 100%);
	}
}

.how-i-got-here {
	.col-md-2 {
		width: 20%;

		img {
			width: 100%;
			max-width: 100px;
			border-radius: 100px;
			border: 5px solid #c2c2c2;
			margin: auto;
		}

		h4 {
			font-weight: bold;
			font-size: 17px;
			margin: 10px auto 5px;
		}
		h6 {
			margin: 0 auto 5px;
			padding-bottom: 9px;
			border-bottom: 1px solid #eee;
			color: #a9a9a9;
		}
		p {
			text-align: center;
		}
	}
}

.my-style {
	.col-md-2 {
		width: 20%;

		img {
			width: 100%;
			border-radius: 0px;
			border: 5px solid #c2c2c2;
			margin: auto;
		}

		h4 {
			font-weight: bold;
			font-size: 17px;
			margin: 10px auto 5px;
		}
		h6 {
			margin: 0 auto 5px;
			padding-bottom: 9px;
			border-bottom: 1px solid #eee;
			color: #a9a9a9;
		}
		p {
			text-align: center;
		}
	}
}

.title {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.page-intro {
	.title {
		font-size: 40px;
	}

	.sub-title {
		text-align: center;
		background-color: white;
		margin: 10px auto 20px;
		display: table;
		@extend .shadow;

		p {
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 4px;
			font-size: 11.5px;
			padding: 0 30px;
			display: inline;
			line-height: 27px;

			@extend .background-text;
		}
	}

	p.big {
		text-align: center;
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 30px;
	}
}

.my-skillset {
	> div {
		img {
			width: 100%;
			max-width: 165px;
			border-radius: 20px;
			border: 5px solid #f7f7f7;
			margin: auto;

			margin-bottom: 25px;
		}

		h4 {
			font-weight: bold;
			font-size: 17px;
			margin: 25px auto 5px;
			text-align: left;
		}
		h6 {
			margin: 0 auto 5px;
			padding-bottom: 9px;
			border-bottom: 1px solid #eee;
			color: #a9a9a9;
			text-align: left;
		}
		p {
		}
	}
}

// for the pricing table
.costs {
	.col-md-4 {

		.stars {
			background: red;
			width: 125px;
			height: 125px;
			line-height: 123px;
			border-radius: 125px;
			border: 5px solid #c2c2c2;
			text-align: center;
			margin: 10px auto 30px;
			color: white;

			&.stars-bronze {
				background: #d89858;
				border-color: #c1864a;
			}
			&.stars-silver {
				background: #c1c1c1;
				border-color: #afa9a9;
			}
			&.stars-gold {
				background: #ffb72c;
				border-color: #E8A216;
			}
		}
		img {
			width: 100%;
			border-radius: 5px;
			border: 5px solid #c2c2c2;
			margin: auto;
		}

		h4 {
			font-weight: bold;
			font-size: 17px;
			margin: 10px auto 5px;
		}
		h6 {
			margin: 0 auto 5px;
			border-bottom: 1px solid #eee;
			color: #a9a9a9;
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
		p {
			text-align: center;
		}

		ul {
			min-height: 120px;
		}
	}
}

// contact form on the pricing page
#contact_form {
	padding: 20px 30px 50px;

	.form-control {
		border-radius: 0;
		margin: 10px auto;
		background: #f1f1f1;
		padding: 20px;
	}

	textarea {
		max-width: 100%;
		min-width: 100%;
		max-height: 200px;
	}
}

// website tile
.website {
	position: relative;
	min-height: 200px;
	padding: 0;
	overflow: hidden;
	margin-bottom: 40px;
	@extend .animate;

	.website-fg {
		min-width: 100%;
		min-height: 310px;
		padding: 20px;
		@extend .animate;
	}

	&:hover {
		background-size: 100%;
		.website-fg {
			transform: scale(1.05);
		}
	}

	.col-md-6 .website {
		min-height: 310px;
	}

	.tile-title {
		text-align: center;
		background-color: white;
		margin: 10px auto 20px;
		display: table;
		position: absolute;
		bottom: 0;
		right: 20px;
		-webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);

		p {
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 4px;
			font-size: 11.5px;
			padding: 0 30px;
			display: inline;
			line-height: 27px;
			background: -webkit-linear-gradient(left, tan, #beb1a6);
			background: -o-linear-gradient(right, tan, #beb1a6);
			background: -moz-linear-gradient(right, tan, #beb1a6);
			background: linear-gradient(left, tan, #beb1a6);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

}

// for portfolio at the bottom
.other-places {

	@mixin border-radius($radius, $backup) {

		.poly {
			background: url("../images/poly/" + $radius + ".jpg") center $backup;
			background-size: 130%;
			min-height: 64px;
			@extend .animate;
			img {
				@extend .animate;
			}
		}

		.tile:hover .poly {
			background-size: 100%;

			img {
				transform: scale(1.05);
			}
		}
	}

	.poly-bg-1 {
		@include border-radius(1, #e3e5e4); // fallback colour
	}
	.poly-bg-2 {
		@include border-radius(2, #9e5367);
	}
	.poly-bg-3 {
		@include border-radius(3, #e3e5e4); // fallback colour
	}
	.poly-bg-4 {
		@include border-radius(4, #5c5f64);
	}
	.poly-bg-5 {
		@include border-radius(5, #e3e5e4); // fallback colour
	}
	.poly-bg-6 {
		@include border-radius(6, #bac96b);
	}
	.poly-bg-7 {
		@include border-radius(7, #e3e5e4); // fallback colour
	}
	.poly-bg-8 {
		@include border-radius(8, #e3e5e4); // fallback colour
	}
	.poly-bg-9 {
		@include border-radius(9, #e3e5e4); // fallback colour
	}
	.poly-bg-10 {
		@include border-radius(10, #e3e5e4); // fallback colour
	}
	.poly-bg-11 {
		@include border-radius(11, #b4556b);
	}
	.poly-bg-12 {
		@include border-radius(12, #e6cb9e);
	}

	.tile {
		padding: 0;
		cursor: pointer;
		margin-bottom: 20px;

		.row {
			margin: 0;
		}
		[class*='col-'] {
			padding: 0;
		}
		img {
			padding: 10px 20px;
		}
		p {
			margin-bottom: 0;
			padding: 12px 20px;
			font-weight: 300;

		}
	}
}

.feedback {

	#quote-carousel {
		padding: 0 10px 30px 10px;
	}
	#quote-carousel .carousel-control {
		background: none;
		color: #CACACA;
		font-size: 2.3em;
		text-shadow: none;
		margin-top: 30px;
	}

	#quote-carousel .carousel-indicators {
		right: 50%;
		top: auto;
		bottom: -14px;
		margin-right: -19px;
	}
	#quote-carousel .carousel-indicators li {
		width: 50px;
		height: 50px;
		margin: 5px;
		cursor: pointer;
		border: 4px solid #CCC;
		border-radius: 50px;
		overflow: hidden;
		transition: all 0.4s;
		background: white;
		@extend .animate;

		img {
			opacity: 0.4;
			@extend .animate;
		}
		&:hover {
			border-color: tan;

			img {
				opacity: 0.6;
			}
		}
	}
	#quote-carousel .carousel-indicators .active {
		background: #333333;
		width: 50px;
		height: 50px;
		border-radius: 100px;
		border-color: #d29600;
		overflow: hidden;
		@extend .animate;
		img {
			opacity: 1;
			@extend .animate;
		}
		&:hover {
			opacity: 1;
			border-color: #d29600;
			cursor: default;
		}
	}
	.carousel-inner {
		min-height: 170px;
	}
	.item blockquote {
		border-left: none;
		margin: 0;
		font-size: 20px;
		font-weight: 300;

		small {
			font-weight: bold;
			font-size: 14px;
		}
	}
}