body {
  background: #e7e7e7;
  font-family: 'Lato', sans-serif; }

h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  text-align: center; }

a {
  color: tan; }
  a:hover {
    color: #d29600;
    text-decoration: none; }

.navbar {
  background-color: white;
  margin-bottom: 0; }
  .navbar .navbar-nav li a {
    padding: 30px 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222; }
  .navbar .navbar-nav li.active a, .navbar .navbar-nav li.active a:focus, .navbar .navbar-nav li.active a:hover {
    background-color: transparent;
    color: #0aa9d4; }
  .navbar .navbar-brand {
    height: 80px;
    padding: 7.5px; }
    .navbar .navbar-brand img {
      max-height: 60px; }

.bg-jumbotron {
  background: url(../images/bg.jpg) center center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 20px; }

.bg-type {
  background: white;
  min-height: 10px; }

.bg-grey {
  padding: 40px 0; }

.bg-white {
  padding: 40px 0;
  background: white; }

.bg-code {
  padding: 40px 0;
  background: url("../images/code-bg.jpg");
  background-size: cover; }

.header {
  text-align: center; }
  .header h1 {
    border-radius: 2px;
    border: 5px solid white;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 30px 4px;
    word-wrap: normal;
    margin: auto auto;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
  .header .header-small {
    background-color: white;
    margin: 10px auto 30px; }
    .header .header-small p {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 11.5px;
      padding: 6px 10px 6px 22px; }
  .header.header-thin h1 {
    font-size: 27px;
    padding: 20px 4px;
    margin: -15px auto 15px; }

.tile {
  background: white;
  padding: 30px 20px; }
  .tile.tile-intro img {
    max-height: 100px;
    margin: auto auto; }
  .tile.tile-intro h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #777; }
  .tile.tile-intro p {
    text-align: center;
    font-size: 17px;
    font-weight: 300; }

.animate, a {
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  transition: all 0.3s !important; }

.shadow, .bg-type, .header h1, .header .header-small, .tile, .page-intro .sub-title {
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1); }

.background-text, .header .header-small p, .page-intro .sub-title p {
  background: -webkit-linear-gradient(left, tan, #beb1a6);
  background: -o-linear-gradient(right, tan, #beb1a6);
  background: -moz-linear-gradient(right, tan, #beb1a6);
  background: linear-gradient(left, tan, #beb1a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.btn-luke {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 11.5px;
  background: -webkit-linear-gradient(left, tan, #beb1a6);
  background: -o-linear-gradient(right, tan, #beb1a6);
  background: -moz-linear-gradient(right, tan, #beb1a6);
  background: linear-gradient(left, tan, #beb1a6);
  padding: 6px 36px;
  margin: auto;
  text-align: center;
  color: white;
  display: table; }
  .btn-luke:hover {
    margin: 0 auto;
    width: 194px;
    /* height: 35px; */
    color: tan;
    border-left: 3px solid tan;
    border-left: 3px solid tan;
    border-right: 3px solid #beb1a6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    background-size: 100% 3px;
    background-image: -webkit-linear-gradient(left, tan 0%, #beb1a6 100%), -webkit-linear-gradient(left, tan 0%, #beb1a6 100%);
    background-image: -moz-linear-gradient(left, tan 0%, #beb1a6 100%), -moz-linear-gradient(left, tan 0%, #beb1a6 100%);
    background-image: -o-linear-gradient(left, tan 0%, #beb1a6 100%), -o-linear-gradient(left, tan 0%, #beb1a6 100%);
    background-image: linear-gradient(to right, tan 0%, #beb1a6 100%), linear-gradient(to right, tan 0%, #beb1a6 100%); }

.how-i-got-here .col-md-2 {
  width: 20%; }
  .how-i-got-here .col-md-2 img {
    width: 100%;
    max-width: 100px;
    border-radius: 100px;
    border: 5px solid #c2c2c2;
    margin: auto; }
  .how-i-got-here .col-md-2 h4 {
    font-weight: bold;
    font-size: 17px;
    margin: 10px auto 5px; }
  .how-i-got-here .col-md-2 h6 {
    margin: 0 auto 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
    color: #a9a9a9; }
  .how-i-got-here .col-md-2 p {
    text-align: center; }

.my-style .col-md-2 {
  width: 20%; }
  .my-style .col-md-2 img {
    width: 100%;
    border-radius: 0px;
    border: 5px solid #c2c2c2;
    margin: auto; }
  .my-style .col-md-2 h4 {
    font-weight: bold;
    font-size: 17px;
    margin: 10px auto 5px; }
  .my-style .col-md-2 h6 {
    margin: 0 auto 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
    color: #a9a9a9; }
  .my-style .col-md-2 p {
    text-align: center; }

.title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }

.page-intro .title {
  font-size: 40px; }

.page-intro .sub-title {
  text-align: center;
  background-color: white;
  margin: 10px auto 20px;
  display: table; }
  .page-intro .sub-title p {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 11.5px;
    padding: 0 30px;
    display: inline;
    line-height: 27px; }

.page-intro p.big {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px; }

.my-skillset > div img {
  width: 100%;
  max-width: 165px;
  border-radius: 20px;
  border: 5px solid #f7f7f7;
  margin: auto;
  margin-bottom: 25px; }

.my-skillset > div h4 {
  font-weight: bold;
  font-size: 17px;
  margin: 25px auto 5px;
  text-align: left; }

.my-skillset > div h6 {
  margin: 0 auto 5px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
  color: #a9a9a9;
  text-align: left; }

.costs .col-md-4 .stars {
  background: red;
  width: 125px;
  height: 125px;
  line-height: 123px;
  border-radius: 125px;
  border: 5px solid #c2c2c2;
  text-align: center;
  margin: 10px auto 30px;
  color: white; }
  .costs .col-md-4 .stars.stars-bronze {
    background: #d89858;
    border-color: #c1864a; }
  .costs .col-md-4 .stars.stars-silver {
    background: #c1c1c1;
    border-color: #afa9a9; }
  .costs .col-md-4 .stars.stars-gold {
    background: #ffb72c;
    border-color: #E8A216; }

.costs .col-md-4 img {
  width: 100%;
  border-radius: 5px;
  border: 5px solid #c2c2c2;
  margin: auto; }

.costs .col-md-4 h4 {
  font-weight: bold;
  font-size: 17px;
  margin: 10px auto 5px; }

.costs .col-md-4 h6 {
  margin: 0 auto 5px;
  border-bottom: 1px solid #eee;
  color: #a9a9a9;
  padding-bottom: 20px;
  margin-bottom: 20px; }

.costs .col-md-4 p {
  text-align: center; }

.costs .col-md-4 ul {
  min-height: 120px; }

#contact_form {
  padding: 20px 30px 50px; }
  #contact_form .form-control {
    border-radius: 0;
    margin: 10px auto;
    background: #f1f1f1;
    padding: 20px; }

/*# sourceMappingURL=style.css.map */